<!-- Consumer Fragment -->
<div class="col-md-9 consumer-details" th:fragment="consumers">
    <h2 id="consumer-name" style="display:none;">Consumer Name</h2> <!-- Consumer Name Placeholder -->
    <div class="tab-content" id="consumer-tabs" style="display:none;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="properties-tab-consumer" data-bs-toggle="tab" href="#properties-consumer" role="tab">Properties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="offsets-tab" data-bs-toggle="tab" href="#offsets" role="tab">Offsets</a>
            </li>
        </ul>
        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="general" role="tabpanel">
                <!-- General consumer details go here -->
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>Is Active:</strong></td>
                        <td id="consumer-isActive">-</td>
                    </tr>
                    <tr>
                        <td><strong>Consumer Type:</strong></td>
                        <td id="consumer-type">-</td>
                    </tr>
                    <tr>
                        <td><strong>Offset Stored In:</strong></td>
                        <td id="consumer-offset">-</td>
                    </tr>
                    <tr>
                        <td><strong>Auto Commit:</strong></td>
                        <td id="consumer-autoCommit">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="properties-consumer" role="tabpanel">
                <!-- Consumer properties go here -->
                <p>Properties of the consumer.</p>
            </div>
            <div class="tab-pane fade" id="offsets" role="tabpanel">
                <!-- Offsets information goes here -->
                <p>Offsets information for the consumer.</p>
            </div>
        </div>
    </div>
</div>
