

/* Apply it to your elements */
body {
    background-color: #f8f9fa;
    color: #333;
}


body.loading {
    pointer-events: none;
}

.form-container {
    max-width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading-svg {
    width: 80px;
    height: 80px;
    transform-origin: center;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.loading-animation {
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


/* Smooth Logo + App Name Transition */
#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1.5s ease-in-out;
    opacity: 1;
}

#logo-container.inline {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    transform: translateY(-20px);
    opacity: 0;
}

#logo-container.inline.show {
    opacity: 1;
}

#app-name {
    font-family: 'Orbitron', sans-serif;
}

/* Custom styling for Connect button */
#connectButton {
    background-color: #4caf50;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#connectButton:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}
