.consumer-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    font-size: 0.75rem;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

/* Responsive Styles */
@media (max-width: 576px) {
    .consumer-button {
        font-size: 0.65rem;
        padding: 2px 6px;
    }
}

.consumer-details {
    padding: 10px;
    display: none;
}

/* Normal consumer button */
.consumer-button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

/* Active (selected) consumer button */
.consumer-button.active-consumer {
    background-color:#333 !important;
    color: white !important;
}
