/* Messages Table */
#messagesTable tbody tr {
    height: 24px;
    line-height: 24px;
}

#messagesTable tbody td {
    padding: 2px;
    font-size: 0.8rem;
}

#messagesTable tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

#messagesTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Message Detail */
.view-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
    font-size: 0.75rem;
}

.view-message i {
    font-size: 0.8rem;
}

.view-message.active {
    color: #007bff;
    background-color: #d1ecff;
    border-color: #007bff;
}

#detail-value {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 350px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #detail-value {
        white-space: normal;
        word-wrap: break-word;
        overflow-y: hidden;
        max-height: none;
    }

    .view-message {
        padding: 0.05rem 0.2rem;
        font-size: 0.65rem;
    }

    .view-message i {
        font-size: 0.65rem;
    }
}

/*Get all messages style*/
.blur {
    filter: blur(5px);
    pointer-events: none;
    opacity: 0.5;
}

/*Refresh BTN style*/
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

